.body{
    position: relative;
}

#navbar img{
   width: 50px;
}


.py-5{
    text-align: left;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;

}


.py-5 p,h3,h2{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: 1rem;   
}

#coachingOrganizacional h3,h6,p{
    color: #138D75;
    text-align: center;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 }

#coachingOrganizacional img{
    width: 40vh;
}

.card{
    border: none;
}

.card img {
    width: 100px;
}

.card-text{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color:slategrey;
    text-align:center;
    font-weight:450; 
}

.py-5 #coachingOrganizacional{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


#coachingAccion h3,p{
    text-align: center;
}

#coachingAccion h3{
    color: #138D75;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


#coachingAccion p{
    color:#45B39D;
}

#coachingAccion {
    background-color:#45B39D
}


#talentHumano img{
    width: 200px;
}

#talentHumano h5,p,img{
  color: #138D75;
  text-align: center;
}

#footer{
    background-color:#138D75;
    height: 30px;
}
