#header img{
   width: 50px;
}

#main img{ 
    max-height: 80vh;
    object-fit: cover;
}

#carouselExampleCaptions{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";    
}


.overlay{
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0,0, 0.24);
}

.carousel-item h5{
   font-size: 40px;
   font-weight: bold;
   color: whitesmoke !important;
}

.py-5{
    text-align: left;
    padding: 0;
}


.py-5 p{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: 2rem;
    
}

#talentoHumano h3{
    color:slategrey;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


#talentoHumano p{
    color:#273b47;
}

#liderazgo h3{
    color: white !important;
}

#liderazgo p{
    color:white;

}

#liderazgo{
    background-color: rgb(47, 52, 56);
}


#coaching p{
    color:white;

}

#coaching h3{
    color: white !important;
}

#coaching{
    background-color: rgb(47, 52, 56);
}

#footer{
    background: linear-gradient(90deg, #1c3643,#273b47 25%, #1e5372);
}

#footer p{
    color: white;
    text-align: left;
}
