.body{
    position: relative;
}

#navbar img{
   width: 50px;
}

#main img{ 
    max-height: 80vh;
    object-fit: cover;
}

#carouselExampleCaptions{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";    
}

.carousel-item h5{
   font-size: 40px;
   font-weight: bold;
   color: white !important;
   text-shadow: 5px 5px 5px #2A4941;
}

.carousel-item p{
    font-size: 20px;
    color:white;
    text-shadow: 5px 5px 5px #2A4941;
  }



.py-5{
    text-align: left;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;

}


.py-5 p{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: 2rem;
    
}

.card{
    border: none;

}

.card img {
    width: 100px;
}




.card-text{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    color:slategrey;
    text-align:center;
    font-weight:450; 
}


#misionVision h5{
    text-align: center;
    color: #138D75;
}

#socios .card-body{
    background-color: white;
}


#socios{
    padding-top: 100px;
}

#socios .card h5, h6 {
    text-align: center;
    
}


#socios .card p {
    text-align: center;
    
}


#socios h3 {
    text-align: center;
    color: #138D75;
}

.py-5 #quienesSomos{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


hr{
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 2px solid;
}

#talentoHumano h3{
   color: #138D75;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


#talentoHumano p{
    color:#45B39D;
}

#talentoHumano {
/*    background-color:rgb(138,190,62);*/
    background-color:#EAFAF1
}

#liderazgo h3{
/*    color: white;*/
    color:#138D75;
}

#liderazgo p{
/*    color:white;*/
    color:#45B39D;

}

#liderazgo{
 /*   background-color: rgb(197,223,155);*/
/*    background-color:rgb(123,198,167);*/
background-color: white;

}


#coaching p{
    color:#45B39D;

}

#coaching h3{
    color:#138D75
}

#coaching{
    background-color:#EAFAF1
}


#bienestarPersonal{
    background-color:white;


}

#bienestarPersonal p{
    color:#45B39D;

}




#bienestarPersonal h3{
    color: #138D75;
}

#contactanos h3,h4,h6{
    color: #138D75;
}

#contactanos label{
    color: #138D75;
}

#contactanos .btn{
    background-color: #138D75;
    color: white;
}

#footer{
    background-color:#138D75;
    height: 30px;
}



